<!DOCTYPE html>
<html>
  <head>
    <title>Nemlevering</title>
    <link rel='stylesheet' href='http://0.0.0.0:3000/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='http://0.0.0.0:3000/stylesheets/label.css' />
    <script type="text/javascript" src="http://0.0.0.0:3000/javascripts/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="http://0.0.0.0:3000/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
		<div class="row border-bottom">
			<div class="col-xs-8 border-right">
				<p class="font-label"> <b>Name:</b> </p>
				<p class="font-label"> Hasseris Bager </p>
				<p class="font-label"> <b>Address:</b> </p>
				<p class="font-label"> Med venlig hilsen, <br/> Aalborg Øst </p>
				<p class="font-label"> <b>Email:</b> </p>
				<p class="font-label"> Info@kringlexpressen.dk </p>
				<p class="font-label"> <b>Phone:</b> </p>
				<p class="font-label"> 98900930 </p>
				<p class="font-label"> <b>Destination Client ID:</b> </p>
				<p class="font-label"> xxxx-xxx-xxxx </p>
				<p class="font-label"> <b>Destination Name:</b> </p>
				<p class="font-label"> Karin Præstgaard </p>
				<p class="font-label"> <b>Destination Address:</b> </p>
				<p class="font-label"> Assensvej 2 <br/> Asetek </br> 9220 Aalborg Øst </p>
				<p class="font-label"> <b>Time:</b> </p>
				<p class="font-label"> 06:00 - 12:30 </p>
				<p class="font-label"> <b> Destination Phone: </b> </p>
				<p class="font-label"> 22591785 </p>
			</div>
			<div class="col-xs-4">
				<div> ZONE </div>
				<div class="big-font"> {{data.area}} </div>
				<div class="big-font"> {{data.zone}} </div>
			</div>
		</div>
		<div class="row" style="padding:20px">
			<p class="font-label"> Delivery ID: </p>
			<h6> Notes: </h6>
		</div>
		<p class="footer"> Powered by Nemlevering.dk</p>
  </body>
</html>