<!DOCTYPE html>
<html>
  <head>
    <title>Nemlevering</title>
    <link rel='stylesheet' href='http://10.0.53.200:3000/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='http://10.0.53.200:3000/stylesheets/label.css' />
    <script type="text/javascript" src="http://10.0.53.200:3000/javascripts/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="http://10.0.53.200:3000/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
	<div class="row border-bottom">
		<div class="col-xs-8 border-right">
			<h6> Name: </h6>
			<h6> Address: </h6>
			<h6> Email: </h6>
			<h6> Phone: </h6>
			<h6> Destination Client ID: </h6>
			<h6> Destination Name: </h6>
			<h6> Destination Address: </h6>
			<h6> Time: </h6>
			<h6> <b> Destination Phone: </b> </h6>			
		</div>
		<div class="col-xs-4">
			<div> ZONE </div>
			<div class="big-font"> A </div>
			<div class="big-font"> 11 </div>
		</div>
	</div>
	<div class="row" style="padding:20px">
		<h6> Delivery ID: </h6>
		<h6> Notes: </h6>
	</div>
	<p class="footer"> Powered by Nemlevering.dk</p>
  </body>
</html>